<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Sample Modal</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="form-group">
    <label for="" class="control-label col-md-2">Department</label>
    <div class="col-md-10">
      <input type="text" class="form-control" ng-model="$ctrl.item.Title" />
    </div>
  </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
